.MatchPage {
	.banner-row{
		background-color: #00237D;
		color: ghostwhite;
	}
	.year-selector-class {
		margin-top: 2%;
	}
	.year-selector-class ul ol {
		list-style-type: none !important;
	}

	.remove-disc {
		list-style-type: none !important;
	}
}